header {
  font-family: "Josefin Sans", serif;
  font-style: normal;
}
nav {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding-left: 12px;
  padding-right: 15px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 60px;
  font-size: 1.3rem;
  background-color: transparent;
  font-weight: 500;
}
#searchBar {
  display: flex;
}
#searchBar form {
  margin-right: 20px;
}
#searchBar .loginIcon img {
  height: 24px;
  width: 24px;
}
#searchBar .hamburger {
  height: 23px;
  width: 28px;
  display: none;
}
#searchIcon {
  background-image: url("../images/loupe.png");
  height: 21px;
  width: 21px;
  background-size: contain;
  border: none;
}
.searchText {
  height: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: grey solid 1px;
  margin-right: 15px;
  font-family: "Josefin Sans", serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}
.searchText:focus {
  outline: none;
}

/* .......................................///Media */
@media screen and (max-width: 1024px) {
  .logo img {
    height: 28px;
  }
  nav ul li {
    margin-left: 40px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .searchText {
    width: 120px;
    font-size: 17px;
  }
}

@media screen and (max-width: 884px) {
  nav ul li {
    display: none;
  }

  #searchBar .hamburger {
    display: block;
  }
  .loginIcon {
    margin-right: 20px;
  }
  #searchBar {
    position: relative;
  }
  .searchText {
    position: absolute;
    margin-top: 55px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 40px;
    transform: translateX(-100px);
  }
}
